@import url("typography.css");

// COLORS

// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$paleBlue: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$veryDarkBlue: hsl(209, 33%, 12%);

html,
body {
  min-width: 100vw;
}

body {
  min-height: 100vh;
  font-size: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

// CONTAINER
.container {
  width: 375px;
  text-align: center;

  // HEADER
  header {
    .logo-image {
      display: block;
      margin: auto;
      width: 20%;
    }
  }

  // MAIN
  main {
    margin-bottom: 11rem;

    // LAUNCHING HEADER
    .launching-header {
      margin-top: 3rem;
      font-family: "LibreFranklin-Light";
      font-size: 1.4em;

      color: $gray;

      .bold-header {
        font-family: "LibreFranklin-Bold" !important;
        color: black;
      }
    }

    // SUBSCRIBE PARAGRAPH
    .subscribe-paragraph {
      margin-bottom: 2.5rem;
      font-family: "LibreFranklin-Light";
      font-size: 0.8em;
    }

    // EMAIL FORM
    .email-form {
      display: flex;
      flex-direction: column;

      // INPUT FIELD (EMAIL)
      input[type="text"] {
        margin: 0 auto 1rem;
        border: 1px solid $gray;
        border-radius: 50px;
        width: 85%;
        height: 50px;
        padding: 0px 20px;
        font-family: "LibreFranklin-Light";
        color: $paleBlue;
      }

      .error-message {
        display: none;
      }

      // NOTIFICATION BUTTON
      .notification-btn {
        margin: 0 auto;
        border: 1px solid $blue;
        border-radius: 50px;
        width: 95%;
        height: 50px;
        padding: 2px 20px;
        background-color: $blue;
        font-family: "LibreFranklin-SemiBold";
        color: white;
        box-shadow: 1px 4px 6px opacify($color: $blue, $amount: 0.1);

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    // DASHBOARD IMAGE
    .dashboard-image {
      margin-top: 5rem;
      width: 100%;
    }
  }

  // FOOTER
  footer {
    .social-icons {
      padding: 0;
      margin-bottom: 2rem;
      list-style-type: none;
      .circle-border {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
        border: 1px solid $paleBlue;
        border-radius: 50px;
        margin: 0px 6px;

        &:hover {
          cursor: pointer;
          background-color: $blue;
        }

        a {
          width: inherit;
          height: inherit;
          position: absolute;
          top: 18%;
          left: 1%;
          color: $blue;

          &:hover {
            color: white;
          }

          .fa-brands {
            font-size: 18px;
          }
        }
      }
    }

    .footer-copyright {
      font-family: "LibreFranklin-Light";
      font-size: 0.63em;
    }
  }
}

// LAPTOP
@media only screen and (min-width: 1200px) {
  // CONTAINER
  .container {
    width: 1440px;

    // HEADER
    header {
      .logo-image {
        margin: 8px auto;
        width: 6%;
      }
    }

    // MAIN
    main {
      margin-bottom: 4rem;

      // LAUNCHING HEADER
      .launching-header {
        margin-bottom: 1.2rem;
        font-size: 2.4em;
      }

      // SUBSCRIBE PARAGRAPH
      .subscribe-paragraph {
        font-size: 1em;
      }

      // EMAIL FORM
      .email-form {
        flex-direction: row;
        justify-content: center;

        // INPUT FIELD (EMAIL)
        input[type="text"] {
          margin: 0 18px 0 0;
          width: 26%;
          font-size: 1.15rem;
        }

        // NOTIFICATION BUTTON
        .notification-btn {
          margin: 0;
          width: 14%;
        }
      }

      // DASHBOARD IMAGE
      .dashboard-image {
        margin-top: 5.5rem;
        width: 45%;
      }
    }

    // FOOTER
    footer {
      .social-icons {
        margin-bottom: 1.2rem;
        .circle-border {
          width: 26px;
          height: 26px;
          margin: 0px 6px;

          a {
            top: 5%;

            .fa-brands {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
